@mixin project-box($color) {
  border: 1px solid darken($color, 25%);
  @include background-image(linear-gradient($color, darken($color, 10%)));

  h1 {
    a {
      color: #fff;
      text-shadow: 1px 1px 0 $color;
    }
  }

  p {
    color: #fff;
  }
}
